









/* header banner area */
#header-banner-area{
    background-image: url("../media/Images/Group\ 13\ \(1\)\ \(1\).png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}



/* top-section-area-bg img */
#top-section-area-bg{
    background-image: url("../media/Images/Rectangle\ 4.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}





/* Country pic css */
#country-pic-1{
    background-image: url("../media/Images/Rectangle\ 5.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}
#country-pic-2{
    background-image: url("../media/Images/Rectangle\ 8.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}
#country-pic-3{
    background-image: url("../media/Images/Rectangle\ 6.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

#country-pic-4{
    background-image: url("../media/Images/Rectangle\ 7.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}
#country-pic-5{
    background-image: url("../media/Images/Rectangle\ 9.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}
#country-pic-6{
    background-image: url("../media/Images/Rectangle\ 11.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}
#country-pic-7{
    background-image: url("../media/Images/Rectangle\ 10.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

/* first Tour Data Section bg-img */
#firstTourDataSection{
    background-image: url("../media/Images/Group\ 39.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#secondTourDataSection{
    background-image: url("../media/Images/Group\ 40.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




